# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
out/

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
.gradle/
bin/
build/

app.log

build.gradle
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
settings.gradle
